<div class="row">
  <div class="offset-1 col-5">
  <p>A seasoned software engineer and architecture professional with over two decades of expertise, I specialize in driving technological growth through high-quality application development.  </p>
    <p>As a full stack developer my technical proficiency spans Vue, typescript, dot NET Core, C#, JavaScript, and SQL Server, enabling the design of robust and reliable service architectures.</p>
  </div>
  <div class="col-5">
    <p>As a software engineering manager, I excel in team building, providing strategic guidance and mentorship that simultaneously advances individual career trajectories and organizational objectives. My architectural leadership has been pivotal in transitioning organizations to microservice architectures, significantly enhancing system performance, code maintainability, and overall software readability. My comprehensive approach integrates technical excellence with strategic team development.</p>
  </div>
  <div class="col-1"></div>
</div>
<div class="row justify-content-center">
  <div class="col-2">
    <button type="button" (click)="openResume()" class="btn btn-outline-primary">View my Resume</button>
  </div>
</div>
