@font-face {
  font-family: 'Carattere';
  src: url('../../fonts/Carattere/Carattere-Regular.ttf');
}

.full-height {
  height: 100% !important;
}
header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1050;
  width: 15%;
  height: 100%;
  background-color: white;
}
header .navbar-toggler {
  left: 0.5rem;
  position: absolute;
}
#logo button {
  display: none;
}
#logo h1 {
  padding-top: 1rem;
}
.name {
  font-family: Carattere, Roboto, serif;
  font-size: 3.5em;
  padding-left: 2rem;
}
.container-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr 1fr;
}
.grid-bottom {
  justify-self: center;
  align-self: end;
}
.nav-center {
  align-self: center;
}
.navigation {
  margin: 0;
  list-style: none;
}
.navigation a {
  text-decoration: none;
  //display: block;
  padding: 0.5em;
}
.navigation a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 768px) {
  #logo button { display: block; margin-top: 1em; margin-left: 1em; }
  header {
    height: 75px;
    width: 100%;
    background-color: white;
  }
  header h1 { justify-self: center;}
  .container-grid { grid-template-columns: 1fr; grid-template-rows: 1fr; }

  .nav-center { display: none; }
  .nav-center-open {
    display: block;
    background-color: white;
    box-shadow:10px 10px 5px darkslategrey;
    border-top:1px solid darkslategrey;
    margin-top:-50px;
    width:200px;}
  .grid-bottom { display: none; }
}
