<div class="row justify-content-center history">
  <div class="col-2">
    <p>Work History</p>
  </div>
</div>
<div class="row justify-content-center historyScroll">
  <div class="col-lg-6">
    <div class="timeline">
      <div class="outer">
        @for (item of whData.workhistory; track item; let indx = $index;) {
          <div class="card">
            <div class="info">
              <h3 class="title">{{item.startDate}} {{item.position}}</h3>
              <p>{{item.summary}}</p>
              <hr/>
              <button #smbtn id="{{'sm'+indx}}" type="button" class="btn" data-state="less"
                      (click)="toggleShowMore( 'a'+indx )">{{showText}}</button>
              <div class="{{showClass}}" id="{{'mh'+indx}}" #moreHistory>
                <p>{{item.jobDescription}}</p>
              </div>
            </div>
          </div>
        }
      </div>
    </div>
  </div>
</div>
