<div id="homeSect"></div>
<div class="row homeArea backgroundCover justify-content-center">
    <div class="aboutMeCard col-8">
      <div class="row">
        <div class="col-3">Headshot</div>
        <div class="col">
          <h2>Hi! I'm Anthony Rhodes</h2>
          <p>A full stack developer, architect, and manager with over 20 years of experience creating business applications using Vue, Angular, .NET core, C# and Microsoft SQL server.</p>
        </div>
      </div>
    </div>
</div>

<app-aboutme></app-aboutme>
<app-work-history></app-work-history>
<app-skills></app-skills>
<app-portfolio></app-portfolio>
<app-contactme></app-contactme>
